<h1><%= link_to 'Kierowcy',  drivers_url %></h1>
<h1><%= link_to 'Pokaz Trasy',  routes_url %> <%= link_to 'Dodaj Trase', new_route_path %></h1>
<h1><%= link_to 'Pojazdy',  cars_url %></h1>
<h1><%= link_to 'Ubezpieczenia',  insurances_url %></h1>
<h1><%= link_to 'Przeglądy',  inspections_url %></h1>