<h1>Ubezpieczenia</h1>

<table>
  <thead>
    <tr>
      <th>Ostatnie</th>
      <th>Przyszle</th>
      <th>Samochod</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insurances.each do |insurance| %>
      <tr>
        <td><%= insurance.last %></td>
        <td><%= insurance.future %></td>
        <td><%= "#{insurance.car.brand} #{insurance.car.model}" %></td>
        <td><%= link_to 'Pokaz', insurance %></td>
        <td><%= link_to 'Edytuj', edit_insurance_path(insurance) %></td>
        <td><%= link_to 'Usun', insurance, method: :delete, data: { confirm: 'Jestes pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj ubezpieczenie', new_insurance_path %>
<%= link_to 'Wroc', landings_index_path %>