<p id="notice"><%= notice %></p>

<p>
  <strong>Ostatnie:</strong>
  <%= @insurance.last %>
</p>

<p>
  <strong>Przyszle:</strong>
  <%= @insurance.future %>
</p>

<p>
  <strong>Samochod:</strong>
  <%= "#{@insurance.car.brand} #{@insurance.car.model}" %>
</p>

<%= link_to 'Edytuj', edit_insurance_path(@insurance) %> |
<%= link_to 'Wroc', insurances_path %>
