<h1>Listing routes</h1>

<table>
  <thead>
    <tr>
      <th>Data startu</th>
      <th>Planowana data zakonczenia</th>
      <th>Z</th>
      <th>Do</th>
      <th>Dlugosc</th>
      <th>Szacowany koszt paliwa</th>
      <th>Towar</th>
      <th>Zakonczona?</th>
      <th>Awaria?</th>
      <th>Pojazd</th>
      <th>Kierowca</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.start_date %></td>
        <td><%= route.end_date %></td>
        <td><%= route.from %></td>
        <td><%= route.to %></td>
        <td><%= route.length %></td>
        <td><%= route.length*route.car.fuel_consumption*0.01*5 %></td>
        <td><%= route.luggage %></td>
        <td><%= route.finished %></td>
        <td><%= route.accident %></td>
        <td><%= "#{route.car.brand} #{route.car.model} #{route.car.plate_no}" %></td>
        <td><%= "#{route.driver.name} #{route.driver.lastname}" %></td>
        <td><%= link_to 'Pokaz', route %></td>
        <td><%= link_to 'Edytuj', edit_route_path(route) %></td>
        <td><%= link_to 'Usun', route, method: :delete, data: { confirm: 'Jestes pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowa trasa', new_route_path %>
<%= link_to 'Wstecz', landings_index_path %>
