<p id="notice"><%= notice %></p>

<p>
  <strong>Data startu:</strong>
  <%= @route.start_date %>
</p>

<p>
  <strong>Szacowana data zakonczenia:</strong>
  <%= @route.end_date %>
</p>

<p>
  <strong>Z:</strong>
  <%= @route.from %>
</p>

<p>
  <strong>Do:</strong>
  <%= @route.to %>
</p>

<p>
  <strong>Dlugosc:</strong>
  <%= @route.length %>
</p>

<p>
  <strong>Koszt paliwa:</strong>
  <%= @route.fuel_cost=@route.length*@route.car.fuel_consumption*0.01*5 %>
</p>

<p>
  <strong>Bagaz:</strong>
  <%= @route.luggage %>
</p>

<p>
  <strong>Zakonczona:</strong>
  <% if @route.finished %>
  Tak
      <% else %>
  Nie
      <% end %>
</p>

<p>
  <strong>Awaria:</strong>
  <%= @route.accident %>
</p>

<p>
  <strong>Samochod:</strong>
  <%= "#{@route.car.brand} #{@route.car.model} #{@route.car.plate_no}" %>
</p>

<p>
  <strong>Kierowca:</strong>
  <%= "#{@route.driver.name} #{@route.driver.lastname}" %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
