<%= simple_form_for(@driver) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Imie"  %>
    <%= f.input :lastname, label: "Nazwisko" %>
    <%= f.input :pesel, maxlength: 11%>
    <%= f.input :phone, label: "Telefon" %>
    <%= f.input :join_date, label: "Data dolaczenia" %>
    <%= f.input :category, label: "Uprawnienia" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Dodaj" %>
  </div>
<% end %>
