<% if !@routes.present? %>
    <h1>Brak tras</h1>
<% else %>
    <h1>Trasy kierowcy <%= @driver.name %></h1>

    <table>
      <thead>
      <tr>
        <th>Data startu</th>
        <th>Data zakonczenia</th>
        <th>Z</th>
        <th>Do</th>
        <th>Dlugosc</th>
        <th>Szacowany koszt paliwa</th>
        <th>Bagaz</th>
        <th>Zakonczona?</th>
        <th>Wypadek?</th>
        <th>Samochod</th>
        <th>Kierowca</th>

      </tr>
      </thead>

      <tbody>
      <% @routes.each do |route| %>
          <tr>
            <td><%= route.start_date %></td>
            <td><%= route.end_date %></td>
            <td><%= route.from %></td>
            <td><%= route.to %></td>
            <td><%= route.length %></td>
            <td><%= route.fuel_cost %></td>
            <td><%= route.luggage %></td>
            <td><%= route.finished %></td>
            <td><%= route.accident %></td>
            <td><%= "#{route.car.brand} #{route.car.model} #{route.car.plate_no}" %></td>
            <td><%= "#{route.driver.name} #{route.driver.lastname}" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br>
<% end %>
<%= link_to 'Wstecz', driver_path %>