<p id="notice"><%= notice %></p>

<p>
  <strong>Imie:</strong>
  <%= @driver.name %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @driver.lastname %>
</p>

<p>
  <strong>Pesel:</strong>
  <%= @driver.pesel %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @driver.phone %>
</p>

<p>
  <strong>Data dolaczenia:</strong>
  <%= @driver.join_date %>
</p>

<p>
  <strong>Uprawnienia:</strong>
  <%= @driver.category %>
</p>
<%= link_to 'Pokaz trasy', driver_route_path_path(@driver) %> |
<%= link_to 'Pokaz pojazdy', driver_car_path_path(@driver) %> |
<%= link_to 'Edytuj', edit_driver_path(@driver) %> |
<%= link_to 'Wstecz', drivers_path %>
