<%- model_class = Car -%>
<div class="page-header">
  <h1>Pojazdy</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Numer rejestracji</th>
      <th>Marka</th>
      <th>Model</th>
      <th>Rok produkcji</th>
      <th>Typ paliwa</th>
      <th>Kolor</th>
      <th>Spalanie</th>
      <th>Pojemnosc</th>
      <th>Dostepnosc</th>
      <th>Wymagane uprawnienia</th>
      <th>Przebieg</th>
      <th>Uszkodzony</th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.plate_no %></td>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.production %></td>
        <td><%= car.fuel_type %></td>
        <td><%= car.color %></td>
        <td><%= car.fuel_consumption %></td>
        <td><%= car.capacity %></td>
        <td><% if car.availability %>
              Tak
          <% else %> Nie
          <% end %></td>
        <td><%= car.category %></td>
        <td><%= car.mileage %></td>
        <td><% if car.damaged %>
               Tak
              <% else %> Nie
              <% end %>
              </td>
        <td>
          <%= link_to 'Edytuj',
                      edit_car_path(car), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Usun',
                      car_path(car),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Jestes pewien?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nowy pojazd',
            new_car_path,
            :class => 'btn btn-primary' %>
<%= link_to 'Wstecz', landings_index_path %>