<!DOCTYPE html>
<html>
<head>
  <title>Flota majster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= nav_bar fixed: :top do %>

  <% if user_signed_in? %>
      Zalogowany jako <strong><%= current_user.email %></strong>.
        <%= link_to 'Strona glowna', landings_index_path %> |
      <%= link_to 'Edytuj profil', edit_user_registration_path %> |
      <%= link_to "Wyloguj", destroy_user_session_path, method: :delete%>
  <% else %>
      <%= link_to "Zarejestruj", new_user_registration_path %> |
      <%= link_to "Zaloguj", new_user_session_path  %>
  <% end %>
<% end %>
<%= yield %>
</body>
</html>
